@charset "UTF-8";
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* Grid system*/
/*== Media queries breakpoints*/
/**/
/*## Define the breakpoints at which your layout will change, adapting to different screen sizes.*/
/* Extra small screen / phone*/
/*** Deprecated `$screen-xs` as of v3.0.1*/
/* $screen-xs:                  480px !default;*/
/*** Deprecated `$screen-xs-min` as of v3.2.0*/
/*** Deprecated `$screen-phone` as of v3.0.1*/
/* Small screen / tablet*/
/*** Deprecated `$screen-sm` as of v3.0.1*/
/* $screen-sm:                  768px !default;*/
/*** Deprecated `$screen-tablet` as of v3.0.1*/
/* Medium screen / desktop*/
/*** Deprecated `$screen-md` as of v3.0.1*/
/* $screen-md:                  992px !default;*/
/*** Deprecated `$screen-desktop` as of v3.0.1*/
/* Large screen / wide desktop*/
/*** Deprecated `$screen-lg` as of v3.0.1*/
/* $screen-lg:                  1400px !default;*/
/*** Deprecated `$screen-lg-desktop` as of v3.0.1*/
/* So media queries don't overlap when required, provide a maximum*/
/*== Grid system*/
/**/
/*## Define your custom responsive grid.*/
/*** Number of columns in the grid.*/
/* $grid-columns:              12 !default;*/
/*** Padding between columns. Gets divided in half for the left and right.*/
/* $grid-gutter-width:         30px !default;*/
/* Navbar collapse*/
/*** Point at which the navbar becomes uncollapsed.*/
/*** Point at which the navbar begins collapsing.*/
/*== Container sizes*/
/**/
/*## Define the maximum width of `.container` for different screen sizes.*/
/* Small screen / tablet*/
/*** For `$screen-sm-min` and up.*/
/* Medium screen / desktop*/
/*** For `$screen-md-min` and up.*/
/* Large screen / wide desktop*/
/*** For `$screen-lg-min` and up.*/
/* Centered container element*/
/* Creates a wrapper for a series of columns*/
/* Generate the extra small columns*/
/* Generate the small columns*/
/* Generate the medium columns*/
/* Generate the large columns*/
.row {
  margin-left: -15px;
  margin-right: -15px;
  clear: both;
  zoom: 1;
}
.row:before, .row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}
.row > div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cp {
  font-size: 1.0666666em;
  line-height: 1.65em;
}
@media screen and (max-width: 575px) {
  .cp {
    font-size: 1.2em;
  }
}
.cp h1 {
  font-size: 2em;
}
.cp h2 {
  font-size: 1.75em;
  margin-bottom: 1.25em;
}
.cp h3 {
  font-size: 1.5em;
}
.cp h4 {
  font-size: 1.25em;
  margin-top: 0;
  margin-bottom: 1em;
}
.cp h5 {
  font-size: 1.125em;
  margin-top: 0;
  margin-bottom: 1em;
}
.cp h6 {
  font-size: 1.125em;
  margin-top: 0;
  margin-bottom: 1em;
}
.cp p {
  font-size: 1em;
  line-height: 1.85em;
  margin-top: 0;
}
.cp ul,
.cp ol {
  font-size: 1em;
  margin-bottom: 1em;
}
.cp ul li,
.cp ol li {
  margin-bottom: 0.5em;
}
.cp dd,
.cp th,
.cp td figure {
  font-size: 1em;
}
.cp blockquote {
  background: #f1f1f1;
  font-style: normal;
  display: block;
  font-size: 1em;
  border-left: 5px solid #E15706, #C1328E, #FF7900;
  padding: 2em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 0em 2em;
}
.cp img {
  max-width: 100%;
}
@media screen and (max-width: 767px) {
  .cp img {
    max-width: 100%;
    width: auto;
    clear: both;
  }
}

body {
  font-size: 1em;
  font-weight: normal;
  color: #333;
  line-height: 1.5em;
  font-family: Lato, "PingFang TC", "Helvetica Neue", Helvetica, 微軟正黑體, Arial, sans-serif;
  -webkit-text-size-adjust: none;
}

a {
  color: #2288d1;
  text-decoration: none;
}
a:hover, a:focus {
  color: #1b6ba5;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}

p {
  line-height: 1.65em;
}

.btn_grp {
  text-align: center;
  padding: 1em 0;
}

.upload_grp .upload_btn, input[type=reset], input[type=submit], button,
input[type=button], .btn {
  font-size: 1em;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  background-image: none;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  white-space: nowrap;
  line-height: normal;
  width: auto;
  padding: 0.5em 1em;
  margin: 0.25em;
}
.upload_grp .upload_btn i, input[type=reset] i, input[type=submit] i, button i,
input[type=button] i, .btn i {
  margin-right: 0.3em;
  margin-left: 0.3em;
}

input[type=submit],
button[type=submit],
.btn-submit,
.btn-primary {
  background-color: #E15706;
  border-color: #E15706;
  color: #fff;
  border-radius: 30px;
  padding: 0.5em 1.5em;
  display: inline-block;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}
input[type=submit]:hover,
button[type=submit]:hover,
.btn-submit:hover,
.btn-primary:hover, input[type=submit]:focus,
button[type=submit]:focus,
.btn-submit:focus,
.btn-primary:focus {
  background-color: #f4573f;
  color: #fff !important;
  outline: none;
  -webkit-box-shadow: 0 0px 0px 2px #e8aa0f inset;
          box-shadow: 0 0px 0px 2px #e8aa0f inset;
}
input[type=submit]:disabled,
button[type=submit]:disabled,
.btn-submit:disabled,
.btn-primary:disabled {
  background: #ccc;
  border-color: #ccc;
  cursor: auto;
}

.btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.btn:hover, .btn.active {
  color: #E15706;
  outline: none;
  border-color: #E15706;
}
.btn:focus {
  -webkit-box-shadow: 0 0px 0px 2px #e8aa0f inset;
          box-shadow: 0 0px 0px 2px #e8aa0f inset;
}

input[type=submit]:before,
button[type=submit]:before,
.btn-submit:before,
.btn-primary:before {
  background: #f4573f;
}

button[type=submit],
.btn-submit,
.btn-primary {
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}
button[type=submit]:hover,
.btn-submit:hover,
.btn-primary:hover {
  color: #fff;
  border-color: #af4405;
  background: #af4405;
  text-decoration: none;
}

.btn-reset,
.btn-del {
  background-color: #eee;
  border-color: #eee;
  color: #7e7e7e;
  border-radius: 30px;
  padding: 0.5em 1.5em;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}
.btn-reset:hover,
.btn-del:hover {
  background: #d5d5d5;
  border-color: #d5d5d5;
  color: #333;
}

.btn-nostyle {
  background: transparent;
  border-color: rgba(255, 255, 255, 0);
  color: #E15706;
  border-radius: 30px;
  padding: 0.5em 1.5em;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}
.btn-nostyle:before {
  background: #f4f4f4;
}
.btn-nostyle:hover {
  border-color: #f4f4f4;
  background: #f4f4f4;
  text-decoration: none;
}

.del_btn,
.add_btn {
  font-size: 0;
  width: 22px;
  height: 22px;
  border-radius: 2px;
  border: none;
  background: #eee url(../images/icon/icon_close.svg) no-repeat center;
  background-size: 12px;
  opacity: 0.6;
  border-radius: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.del_btn:hover,
.add_btn:hover {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.add_btn {
  background-image: url(../images/icon/icon_add.svg);
}

.btn_switch {
  position: relative;
  margin: 0.5em auto;
  background: none;
  color: #7e7e7e;
  border: none;
  border-radius: 0;
}
.btn_switch:hover, .btn_switch:focus {
  background: none;
  color: #333;
  outline: none;
}
.btn_switch:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 4px;
  margin-left: -3px;
  border-width: 2px 0 0 2px;
  border-color: #333;
  border-style: solid;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.btn_switch.turnicon:after {
  content: "";
  top: 6px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.btn_sendmail:after {
  background: url(../images/icon/icon_email_invert.svg) center no-repeat;
  background-size: 60%;
}

.btn_addbookmark:after {
  background: url(../images/icon/icon_bookmark_normal_invert.svg) center no-repeat;
  background-size: 60%;
}

select::-ms-expand {
  display: none;
}

.form_grid {
  font-size: 0.938em;
  margin: 0.5em 0;
}
.form_grid .form_grp {
  border-bottom: 1px dashed #DDD;
  overflow: hidden;
  padding: 0.2em 0;
}
.form_grid .form_grp:first-of-type {
  border-top: 1px solid #DDD;
}
.form_grid .form_grp.agree {
  border-bottom: none;
}
.form_grid .form_grp.agree label {
  float: left;
  width: auto;
  margin: 0 0.5em 0.5em 0;
}
.form_grid .form_title {
  float: left;
  width: 150px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 5px;
}
@media screen and (max-width: 767px) {
  .form_grid .form_title {
    width: 100%;
    position: relative;
    min-height: 1px;
    padding-left: 0;
    padding-right: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
.form_grid .form_content {
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 3px;
  width: calc(100% - 150px);
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .form_grid .form_content {
    width: 100%;
    position: relative;
    min-height: 1px;
    padding-left: 2.5px;
    padding-right: 2.5px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
.form_grid .form_content.form_inline input,
.form_grid .form_content.form_inline textarea,
.form_grid .form_content.form_inline select {
  width: auto;
  min-width: 100px;
  margin: 0 0.3em 0.3em;
}
.form_grid .form_content.form_inline input:first-child,
.form_grid .form_content.form_inline textarea:first-child,
.form_grid .form_content.form_inline select:first-child {
  margin-left: 0;
}
.form_grid .form_content.form_inline input:last-child,
.form_grid .form_content.form_inline textarea:last-child,
.form_grid .form_content.form_inline select:last-child {
  margin-right: 0;
}
@media screen and (max-width: 575px) {
  .form_grid .form_content.form_inline input,
.form_grid .form_content.form_inline textarea,
.form_grid .form_content.form_inline select {
    width: 100%;
    display: block;
  }
}
.form_grid .form_content.form_inline .flex-grow {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.form_grid .form_content .form_grp {
  min-height: 2.5em;
}
.form_grid .form_content .form_grp .form_content {
  float: none;
  display: block;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.form_grid .form_content .form_grp:last-child {
  border-bottom: none;
  margin-bottom: 0;
}
.form_grid .form_content .tel input[type=text]:first-child {
  background: url(../images/icon/icon_add.svg) no-repeat 0.5em center;
  background-size: 12px;
  padding-left: 1.5em;
}
.form_grid .form_content .tel input[type=text]:first-child,
.form_grid .form_content .tel select:first-child {
  width: 100px !important;
}
.form_grid .form_content .tel input[type=text]:first-child ~ input,
.form_grid .form_content .tel select:first-child ~ input {
  width: calc(100% - 200px);
}
@media screen and (max-width: 575px) {
  .form_grid .form_content .tel input[type=text]:first-child ~ input,
.form_grid .form_content .tel select:first-child ~ input {
    width: 100% !important;
    display: block !important;
  }
}
.form_grid .form_content .birthday select {
  display: inline-block;
  margin-right: 0.5em;
  -moz-text-align-last: center;
       text-align-last: center;
}
@media screen and (max-width: 575px) {
  .form_grid .form_content .birthday select {
    width: 88% !important;
    min-width: 88% !important;
    display: inline-block !important;
    -moz-text-align-last: left;
         text-align-last: left;
  }
}
.form_grid .form_content .birthday select option {
  text-align: center;
}
.form_grid .form_content .birthday select ~ select {
  margin-left: 0.2em;
}
@media screen and (max-width: 575px) {
  .form_grid .form_content .birthday select ~ select {
    margin-left: 0;
  }
}
.form_grid .form_content .address select {
  min-width: 100px;
}
.form_grid .form_content .address select option {
  text-align: center;
}
@media screen and (max-width: 575px) {
  .form_grid .form_content .address select {
    width: 100px;
    display: inline-block !important;
  }
}
.form_grid .form_content .address input[type=text] {
  width: calc(100% - 211px) !important;
}
@media screen and (max-width: 767px) {
  .form_grid .form_content .address input[type=text] {
    display: block !important;
    width: 100% !important;
  }
}
.form_grid .form_content .datepick {
  padding-right: 0.5em;
  position: relative;
  display: inline-block;
}
@media screen and (max-width: 575px) {
  .form_grid .form_content .datepick {
    width: 100%;
    display: block;
  }
}
.form_grid .form_content .datepick + .datepick {
  margin-left: 0.3em;
  margin-right: 0;
  padding-right: 0;
}
.form_grid .form_content .datepick + .datepick:before {
  content: "~";
  font-size: 1.5em;
  display: inline-block;
  position: absolute;
  left: -0.65em;
  top: 0.3em;
  color: #777;
}
@media screen and (max-width: 575px) {
  .form_grid .form_content .datepick + .datepick {
    margin-left: 0em;
  }
  .form_grid .form_content .datepick + .datepick:before {
    display: none;
  }
}
.form_grid .form_content .datepick + .datepick i {
  right: 0.5em;
}
.form_grid .form_content .datepick i {
  position: absolute;
  padding: 0.37em 0.1em !important;
  right: 1em;
  top: 0.2em;
  min-width: 1em;
  background: none;
  border: none;
  width: auto;
  pointer-events: none;
}
.form_grid .form_content .datepick i:hover, .form_grid .form_content .datepick i:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none !important;
}
.form_grid .form_content .datepick > input[type=text] {
  width: 10em;
  padding-right: 2em;
}
@media screen and (max-width: 575px) {
  .form_grid .form_content .datepick > input[type=text] {
    width: 100%;
  }
}

.form_grp,
.check_grp,
.radio_grp,
.btn_grp,
.upload_grp {
  margin-bottom: 0.2em;
}

.check_grp label,
.radio_grp label {
  display: block;
}
.check_grp.form_inline label,
.radio_grp.form_inline label {
  display: inline-block;
  margin: 0.2em 0.5em 0 0;
}

.form_grp.form_inline label,
.upload_grp.form_inline label {
  display: inline-block;
  margin-right: 0.5em;
}
.form_grp.form_inline input,
.form_grp.form_inline textarea,
.form_grp.form_inline select,
.upload_grp.form_inline input,
.upload_grp.form_inline textarea,
.upload_grp.form_inline select {
  width: auto;
  margin: 0 0.25em 0.3em;
}
.form_grp.form_flex,
.upload_grp.form_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.form_grp.form_flex input,
.form_grp.form_flex textarea,
.form_grp.form_flex select,
.upload_grp.form_flex input,
.upload_grp.form_flex textarea,
.upload_grp.form_flex select {
  margin: 0 0.25em 0.3em;
}

.form_inline label {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5em;
}
.form_inline label ~ input, .form_inline label ~ textarea {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}
.form_inline input[type=text],
.form_inline input[type=email],
.form_inline input[type=password],
.form_inline select,
.form_inline textarea {
  width: auto;
  display: inline-block;
}
.form_inline .form_grp,
.form_inline .check_grp,
.form_inline .radio_grp,
.form_inline .btn_grp,
.form_inline .upload_grp {
  display: inline-block;
  margin-right: 0.5em;
}
.form_inline .btn_grp .btn,
.form_inline .btn_grp input[type=submit],
.form_inline .btn_grp input[type=reset],
.form_inline .btn_grp input[type=button],
.form_inline .btn_grp input[type=search] {
  padding: 0.45em 1em;
}
.form_inline select,
.form_inline textarea {
  width: auto;
}

label,
legend {
  display: inline-block;
  margin: 0 0 0.5em 0;
}
@media screen and (max-width: 575px) {
  label,
legend {
    display: block;
  }
}
label.inline input,
label.inline select,
label.inline textarea,
legend.inline input,
legend.inline select,
legend.inline textarea {
  width: auto;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

input,
textarea,
select,
button {
  color: #333;
  font-size: 1em;
  border: 1px solid #929292;
  padding: 0.5em;
  background: #fff;
  vertical-align: middle;
  margin-bottom: 0.3em;
  border-radius: 10px;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button:hover, button:focus {
  outline: none;
}

input,
select,
textarea {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input.error,
select.error,
textarea.error {
  -webkit-box-shadow: 0px 0px 0px 2px #ff3e4d;
          box-shadow: 0px 0px 0px 2px #ff3e4d;
}

input[type=text]::-webkit-input-placeholder,
input[type=password]::-webkit-input-placeholder,
input[type=file]::-webkit-input-placeholder,
input[type=tel]::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #999999;
}
input[type=text]::-moz-placeholder,
input[type=password]::-moz-placeholder,
input[type=file]::-moz-placeholder,
input[type=tel]::-moz-placeholder {
  /* Firefox 19+ */
  color: #999999;
}
input[type=text]:-ms-input-placeholder,
input[type=password]:-ms-input-placeholder,
input[type=file]:-ms-input-placeholder,
input[type=tel]:-ms-input-placeholder {
  /* IE 10+ */
  color: #999999;
}
input[type=text]:-moz-placeholder,
input[type=password]:-moz-placeholder,
input[type=file]:-moz-placeholder,
input[type=tel]:-moz-placeholder {
  /* Firefox 18- */
  color: #999999;
}

textarea {
  color: #333;
  font-size: 1em;
  border: 1px solid #929292;
  padding: 0.5em;
  background: #fff;
  vertical-align: middle;
  margin-bottom: 0.3em;
  border-radius: 10px;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 5em;
  overflow-y: scroll;
}
@media screen and (max-width: 575px) {
  textarea {
    width: 100%;
  }
}

input[type=text]:focus,
input[type=reset]:focus,
input[type=file]:focus,
input[type=tel]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=date]:focus,
input[type=number]:focus,
textarea:focus,
select:focus {
  border: 1px solid #fddc76;
  -webkit-box-shadow: 0px 0px 0px 2px #fddc76;
          box-shadow: 0px 0px 0px 2px #fddc76;
  outline: none;
}

select {
  height: 40px;
  padding: 0 34px 0 0.8em;
  border: 1px solid #929292;
  background: #fff url(../images/icon/icon_arrow_down.svg) no-repeat right 10px center;
  background-size: 12px;
}
select option {
  outline: none;
  border: none;
}
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

input[type=reset] {
  text-shadow: none;
}

input[type=checkbox],
input[type=radio] {
  font-size: 1em;
  margin: -4px 0.4em 0 0;
  width: 1.1em;
  height: 1.1em;
  background-color: #f7f6ee;
  border: 2px solid #929292;
}

input[type=radio] {
  border-radius: 50%;
}

input[type=checkbox] {
  border-radius: 4px;
}

input[type=checkbox]:checked,
input[type=radio]:checked {
  border-color: #E15706;
  background-color: #E15706;
}

input[type=checkbox]:focus,
input[type=radio]:focus {
  outline: none;
  -webkit-box-shadow: 0 0px 0px 2px #e8aa0f inset;
          box-shadow: 0 0px 0px 2px #e8aa0f inset;
}

input[type=checkbox]:checked {
  background-image: url(../images/basic/icon_checked.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 98%;
}

input[type=radio]:checked {
  -webkit-box-shadow: #fff 0 0 0 3px inset, #E15706 0 0 0 1px;
          box-shadow: #fff 0 0 0 3px inset, #E15706 0 0 0 1px;
}

input[readonly],
input[disable] {
  background: #f2f2f2;
  color: #b3b3b3;
  border-color: #b3b3b3;
}
input[readonly] ~ label,
input[disable] ~ label {
  color: #b3b3b3;
}
input[readonly]:hover, input[readonly]:focus,
input[disable]:hover,
input[disable]:focus {
  border-color: #b3b3b3;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.upload_grp {
  position: relative;
}
.upload_grp input[readonly],
.upload_grp input[disable] {
  background: transparent;
  color: #666;
}
.upload_grp .upload_btn {
  position: absolute;
  overflow: hidden;
  top: 1px;
  right: 3px;
  padding: 0.2em 1em !important;
  border-radius: 4px;
}
.upload_grp .upload_btn:hover, .upload_grp .upload_btn:focus {
  cursor: pointer !important;
}

input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 1.25em;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

img.captcha {
  display: inline-block;
  vertical-align: middle;
  max-height: 44px;
  max-height: 100px;
  margin-bottom: 0.3em;
}
img.captcha + input {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}
img.captcha ~ .btn {
  margin-top: -1px;
}
img.captcha ~ img {
  display: inline-block;
  vertical-align: middle;
  max-height: 2.4em;
  margin-bottom: 0.5em;
}

abbr[title] {
  border-bottom: none;
  text-decoration: none;
}

.NCL .container {
  margin: 0 auto;
  max-width: 1400px;
}
.NCL a.goCenter {
  background: #FF7900;
}
.NCL input[type=submit],
.NCL button[type=submit],
.NCL .btn-submit,
.NCL .btn-primary {
  background-color: #FF7900;
  border-color: #FF7900;
}
.NCL input[type=submit]:hover,
.NCL button[type=submit]:hover,
.NCL .btn-submit:hover,
.NCL .btn-primary:hover, .NCL input[type=submit]:focus,
.NCL button[type=submit]:focus,
.NCL .btn-submit:focus,
.NCL .btn-primary:focus {
  background-color: #E8520C;
  -webkit-box-shadow: 0 0px 0px 2px #ff450d inset;
          box-shadow: 0 0px 0px 2px #ff450d inset;
}
.NCL .btn:hover, .NCL .btn.active {
  color: #FF7900;
  border-color: #FF7900;
}
.NCL .btn:focus {
  -webkit-box-shadow: 0 0px 0px 2px #ff450d inset;
          box-shadow: 0 0px 0px 2px #ff450d inset;
}
.NCL input[type=submit]:before,
.NCL button[type=submit]:before,
.NCL .btn-submit:before,
.NCL .btn-primary:before {
  background: #E8520C;
}
.NCL button[type=submit]:hover,
.NCL .btn-submit:hover,
.NCL .btn-primary:hover {
  border-color: #cc6100;
  background: #cc6100;
}
.NCL .btn-nostyle {
  color: #FF7900;
}
.NCL .tabSet li.active:before, .NCL .tabSet li:focus:before {
  background: #FF7900;
}
.NCL .main_tabSet .active_m {
  background-color: #FF7900;
}
.NCL .main_tabSet li a:hover {
  background: #FF7900;
}
.NCL .main_tabSet li.active a {
  background: #FF7900;
}
.NCL input[type=checkbox]:checked,
.NCL input[type=radio]:checked {
  border-color: #FF7900;
  background-color: #FF7900;
}
.NCL input[type=radio]:checked {
  -webkit-box-shadow: #fff 0 0 0 3px inset, #FF7900 0 0 0 1px;
          box-shadow: #fff 0 0 0 3px inset, #FF7900 0 0 0 1px;
}
.NCL a:focus,
.NCL button:focus {
  -webkit-box-shadow: 0 0px 0px 2px #ff450d inset;
          box-shadow: 0 0px 0px 2px #ff450d inset;
}
.NCL .option_list li.active a {
  color: #FF7900;
}
.NCL .option_list li a:hover, .NCL .option_list li a:focus, .NCL .option_list li a.active {
  color: #FF7900;
}
.NCL .header {
  background: #F7B952;
}
.NCL .header > .container .sidebarCtrl span {
  background: #F7B952;
}
.NCL .header .more_list_block .more_list a:hover {
  background-color: #FF7900;
}
.NCL .header .btn_member {
  border-color: #FF7900;
  background: #FF7900;
}
.NCL .header .btn_member:hover {
  background-color: #E8520C;
}
.NCL .header .language a {
  color: #333;
}
.NCL .header .language ul li a {
  color: #333;
}
.NCL .header .language ul li a.active {
  background-color: #FF7900;
  color: #fff;
}
.NCL .header .login .btn {
  background: #FF7900;
}
.NCL .header .login .btn:hover {
  background: #E8520C;
  color: #fff;
}
.NCL .header .navigation li a {
  background: #F7B952;
  color: #333;
}
.NCL .header .navigation li a:hover {
  background: #f6af3a;
}
.NCL .header .navigation li a.active {
  background: #F7B952;
}
.NCL .header .navigation li a.active:hover {
  background: #F7B952;
  color: #333;
}
.NCL .header .more_list_block .more {
  background: #F7B952;
  color: #333;
}
.NCL .header .more_list_block .more:hover {
  background: #f6af3a;
}
.NCL .header .more_list_block .more_list a {
  background-color: #fff;
}
.NCL .header .more_list_block .more_list a:hover {
  background-color: #f4f4f4;
}
.NCL .header .btn_member {
  border-color: #FF7900;
  background: #FF7900;
}
.NCL .header .btn_member:hover {
  background-color: #E8520C;
}
.NCL .search.m_search .keywordHot:hover, .NCL .search.m_search .keywordHot:focus {
  color: #F7B952;
}
.NCL .menu li li.hasChild:hover, .NCL .menu li li.hasChild:focus {
  background: #FF7900;
}
.NCL .sidebar .m_area .menu {
  border-top-color: #FF7900;
}
.NCL .sidebar .m_area .menu .btn_login,
.NCL .sidebar .m_area .menu .btn_logout {
  border-color: #FF7900;
}
.NCL .sidebar .m_area .menu .btn_login {
  background: #FF7900;
}
.NCL .sidebar .m_area .menu .btn_logout {
  color: #FF7900;
}
.NCL .sidebar .m_area .menu .language select {
  border-color: #FF7900;
}
.NCL .sidebar .navigation li a:hover, .NCL .sidebar .navigation li a:focus {
  background: #994900;
}
.NCL footer {
  background: #F7B952;
}
.NCL footer .container {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #333;
}
.NCL footer nav > ul > li a {
  color: #333;
}
.NCL .modal h2 {
  border-bottom-color: #FF7900;
}
.NCL .pagination span {
  color: #FF7900;
}
.NCL .pagination .items a {
  color: #FF7900;
}
.NCL .category a:hover, .NCL .category a:focus {
  border-color: #b35500;
}
.NCL .category a.active {
  background: #ff7900;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff7900), to(#b35500));
  background: linear-gradient(to bottom, #ff7900, #b35500);
}
.NCL .function_panel button:hover {
  background: #FF7900;
}
.NCL .function_panel .display_grp .list_less:hover:before, .NCL .function_panel .display_grp .list_less.active:before {
  background-color: #FF7900;
}
.NCL .function_panel .display_grp .list_more:hover:before, .NCL .function_panel .display_grp .list_more.active:before {
  background-color: #FF7900;
}
.NCL .function_panel .result_amount .search_word {
  color: #FF7900;
}
.NCL .function_panel .result_amount em {
  color: #FF7900;
}
.NCL .function_block .btn_grp button:hover {
  border-color: #FF7900;
  background: #FF7900;
  color: #fff;
}
.NCL .add_bookmark:hover, .NCL .add_bookmark.active,
.NCL .filter_search_btn:hover,
.NCL .filter_search_btn.active {
  background-color: #FF7900;
  border-color: #FF7900;
}
.NCL .option .name a:hover {
  background: #FF7900;
  border-color: #FF7900;
}
.NCL .search_system .tab-content a.database_link:hover {
  color: #FF7900;
}
.NCL .search_system input[type=text] {
  margin: 0;
}
.NCL .search_system .add_condition {
  border-color: #FF7900;
  color: #FF7900;
}
.NCL .search_system .keywordHot ul a:hover, .NCL .search_system .keywordHot ul a:focus {
  text-decoration: underline;
  color: #FF7900;
}
.NCL .search_system .condition .delete {
  border-color: #FF7900;
}
.NCL .search_system .condition .delete:before {
  background: #FF7900;
}
.NCL .search_system input[type=submit] {
  background-color: #FF7900;
}
.NCL .search_system input[type=submit]:hover {
  background-color: #E8520C;
}
@media screen and (max-width: 767px) {
  .NCL .search_system input[type=submit] {
    background: #FF7900 url(../images/icon/icon_search_invert.svg) no-repeat center center;
  }
}
.NCL .login_lightbox .loginblock .btn_primary {
  background: #fff;
  border: 1px solid #FF7900;
  color: #FF7900;
  padding: 0.2em 0.5em;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.NCL .login_lightbox .loginblock .btn_primary:hover {
  background: #FF7900;
  color: #fff;
}
.NCL .login_lightbox .loginblock .name {
  color: #FF7900;
}
.NCL .login_lightbox .loginblock .login_instructions a:after {
  background: #FF7900;
}
.NCL .login_lightbox .loginblock h3 {
  color: #b84109;
}
.NCL .login_lightbox .function_grp button,
.NCL .login_lightbox .function_grp input,
.NCL .login_lightbox .function_grp select {
  border-color: #FF7900;
}
.NCL .login_lightbox .btn:hover {
  background-color: #FF7900;
}
.NCL .detail_lightbox .detailblock .btn_primary {
  background: #fff;
  border: 1px solid #FF7900;
  color: #FF7900;
  padding: 0.2em 0.5em;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.NCL .detail_lightbox .detailblock .btn_primary:hover {
  background: #FF7900;
  color: #fff;
}
.NCL .detail_lightbox .detailblock .title {
  background: #FF7900;
}
.NCL .detail_lightbox .detail_top h3 {
  color: #FF7900;
}
.NCL .detail_lightbox .sourceblock .source {
  border-left-color: #FF7900;
}
.NCL .personal_lightbox .manage_tag input[type=text] {
  border-bottom-color: #FF7900;
}
.NCL .lp h2,
.NCL .personal h2 {
  color: #FF7900;
}
.NCL .main_content .keyword input[type=submit] {
  background: #FF7900 url(../images/icon/icon_search_invert.svg) no-repeat center center;
}
.NCL .main_content .keyword input[type=submit]:hover {
  background-color: #E8520C;
}
.NCL .filter_search .conditions {
  border-color: #FF7900;
}
.NCL .filter_search .conditions .del_all:hover {
  background-color: #FF7900;
  border-color: #FF7900;
}
.NCL .filter_search .focus button {
  border-color: #FF7900;
  color: #FF7900;
}
.NCL .filter_search .focus button:hover {
  background-color: #FF7900;
  border-color: #FF7900;
  color: #fff;
}
.NCL .accordion_content > button,
.NCL .list_content > button {
  border-color: #FF7900;
  color: #FF7900;
}
.NCL .accordion_content > button:hover,
.NCL .list_content > button:hover {
  border-color: #FF7900;
  background: #FF7900;
}
.NCL .search_result .content .tab_grp button:hover {
  border-color: #FF7900;
  background: #FF7900;
}
.NCL .search_result .content .added_list .select_source {
  background: #FF7900;
  border-color: #FF7900;
}
.NCL .list_block .list_data h3 a {
  color: #b35500;
}
.NCL .list_block .list_data h3 a:hover {
  color: #FF7900;
}
.NCL .list_block .list_data .tag {
  border-color: #FF7900;
  background: #FF7900;
}
.NCL .list_block .list_data .tag:hover {
  background: #e66d00;
}
.NCL .list_block .list_data .tag_edit {
  background: #fff;
  border-color: #929292;
}
.NCL .list_block .list_data .tag_edit:hover {
  background: #f4f4f4;
}
.NCL .list_block .list_data button.btn_primary {
  border-color: #FF7900;
  color: #FF7900;
}
.NCL .list_block .list_data button.btn_primary:hover {
  background-color: rgba(255, 121, 0, 0.1);
}
.NCL .search_block .recent_searches .title {
  color: #FF7900;
}
.NCL .featured_data:before {
  background: #FF7900;
}
.NCL .featured_data li a:hover, .NCL .featured_data li a:focus {
  color: #FF7900;
}
.NCL .featured_data a.more:after {
  border-color: #FF7900;
}
.NCL .sp .main_content .featured_data .apply:hover {
  border-color: #FF7900;
  background: #FF7900;
}
.NCL .sp .main_content .featured_data .apply:before {
  background: #E8520C;
}
.NCL .detail_block h3 {
  color: #b35500;
}/*# sourceMappingURL=NCL.css.map */