@import "_variable";
@import "sass/_normalize"; //reset
@import "sass/_mixin"; //客製MIXIN
@import "sass/_typography"; //CP文字排版
@import "sass/_font"; //文字設定
@import "sass/_btn"; //按鈕設定
//@import "sass/_form";

.NCL {
    $style: index($sites, NCL);

    .container {
        margin: 0 auto;
        max-width: $container-max;
    }

    //====== sass/_btn.scss =======
    %btn-submit {
        background-color: nth($primaryColor, $style);
        border-color: nth($primaryColor, $style);

        &:hover,
        &:focus {
            background-color: nth($importantColor, $style);
            border-color: nth($importantColor, $style);
        }
    }

    .btn {

        &:hover,
        &:focus,
        &.active {
            color: nth($primaryColor, $style);
            border-color: nth($primaryColor, $style);
        }
    }

    input[type="submit"],
    button[type="submit"],
    .btn-submit,
    .btn-primary {
        &:before {
            background: nth($importantColor, $style);
        }
    }

    button[type="submit"],
    .btn-submit,
    .btn-primary {
        &:hover {

            border-color: nth($primaryColor, $style);
            background: nth($primaryColor, $style);
        }
    }

    .btn-nostyle {
        color: nth($primaryColor, $style);
    }

    //====== sass/_tabs.scss =======
    .tabSet {
        li {

            &.active,
            &:focus {
                &:before {
                    background: nth($primaryColor, $style);
                }
            }
        }
    }

    .main_tabSet {
        .active_m {
            background-color: nth($primaryColor, $style);
        }

        li {
            a {
                &:hover {
                    background: nth($primaryColor, $style);
                }
            }

            &.active {
                a {
                    background: nth($primaryColor, $style);
                }
            }
        }
    }

    //======= sass/_form.scss ======
    input[type="checkbox"]:checked,
    input[type="radio"]:checked {
        border-color: nth($primaryColor, $style);
        background-color: nth($primaryColor, $style);
    }

    input[type="radio"]:checked {
        box-shadow: #fff 0 0 0 3px inset, nth($primaryColor, $style) 0 0 0 1px;
    }

    //======= sass/_element.scss ======
    a:focus {
        box-shadow: 0 0px 0px 1px nth($primaryColor, $style) inset;
    }

    .option_list {
        li {
            &.active {
                a {
                    color: nth($primaryColor, $style);
                }
            }

            a {

                &:hover,
                &.active {
                    color: nth($primaryColor, $style);
                }
            }
        }
    }

    //====== sass/_header.scss =======
    .header {
        background: nth($secondaryColor, $style);

        >.container {
            .sidebarCtrl {
                span {
                    background: nth($secondaryColor, $style);
                }
            }
        }

        .more_list_block {
            .more_list {
                a {
                    &:hover {
                        background-color: nth($primaryColor, $style);
                    }
                }
            }
        }

        .btn_member {
            border-color: nth($primaryColor, $style);
            background: nth($primaryColor, $style);

            &:hover {
                background-color: nth($importantColor, $style);
            }
        }

        .language {
            a{
                color: $color-word;
            }
            ul {
                li {
                    a {
                        color: $color-word;
                        &.active {
                            background-color: nth($primaryColor, $style);
                        }
                    }
                }
            }
        }

        .login {
            .btn {
                background: nth($primaryColor, $style);

                &:hover {
                    background: nth($importantColor, $style);
                    color: #fff;
                }
            }
        }

        .navigation {
            li {
                a {
                    background: nth($secondaryColor, $style);
                    color: $color-word;

                    &:hover {
                        background: darken(nth($secondaryColor, $style), 5);
                    }

                    &.active {
                        background: nth($primaryColor, $style);

                        &:hover {
                            background: nth($primaryColor, $style);
                        }
                    }
                }
            }
        }

        .more_list_block {
            .more {
                background: nth($secondaryColor, $style);
                color: $color-word;

                &:hover {
                    background: darken(nth($secondaryColor, $style), 5);
                }
            }
        }

        .btn_member {
            border-color: nth($primaryColor, $style);
            background: nth($primaryColor, $style);

            &:hover {
                background-color: nth($importantColor, $style);
            }
        }
    }

    .search {
        &.m_search {
            .keywordHot {

                &:hover,
                &:focus {
                    color: nth($secondaryColor, $style);
                }
            }
        }
    }

    //======= sass/_menu.scss =======
    .menu {
        li {
            li.hasChild {

                &:hover,
                &:focus {
                    background: nth($primaryColor, $style);
                }
            }
        }
    }

    .sidebar {
        .m_area {
            .menu {
                border-top-color: nth($primaryColor, $style);

                .btn_login,
                .btn_logout {
                    border-color: nth($primaryColor, $style);
                }

                .btn_login {
                    background: nth($primaryColor, $style);
                }

                .btn_logout {
                    color: nth($primaryColor, $style);
                }

                .language {
                    select {
                        border-color: nth($primaryColor, $style);
                    }
                }
            }
        }

        .navigation {
            li {
                a {

                    &:hover,
                    &:focus {
                        background: darken(nth($primaryColor, $style), 20);
                    }
                }
            }
        }
    }

    //====== sass/_footer.scss =======
    footer {
        background: nth($secondaryColor, $style);
        .container{
            @include gutter();
            color: $color-word;
        }
        nav{
            >ul{
                >li{
                    a{
                        color: $color-word;
                    }
                }
            }
        }
    }

    //====== sass/_modal.scss =======
    .modal {
        h2 {
            border-bottom-color: nth($primaryColor, $style);
        }
    }

    //====== sass/_paginations.scss =======
    .pagination {
        span {
            color: nth($primaryColor, $style);
        }

        .items {
            a {
                color: nth($primaryColor, $style);
            }
        }
    }

    //====== sass/_category.scss =======
    .category {
        a {

            &:hover,
            &:focus {
                border-color: darken(nth($primaryColor, $style), 15);
            }

            &.active {
                @include gradient(darken(nth($primaryColor, $style), 0), darken(nth($primaryColor, $style), 15), vertical);
            }
        }
    }

    //====== sass/_function_panel.scss =======
    .function_panel {
        button {
            &:hover {
                color: nth($primaryColor, $style);
            }
        }

        .display_grp {
            .list_less {

                &:hover,
                &.active {
                    &:before {
                        background-color: nth($primaryColor, $style);
                    }
                }
            }

            .list_more {

                &:hover,
                &.active {
                    &:before {
                        background-color: nth($primaryColor, $style);
                    }
                }
            }
        }

        .result_amount {
            .search_word {
                color: nth($primaryColor, $style);
            }

            em {
                color: nth($primaryColor, $style);
            }
        }
    }

    .function_block {
        .btn_grp {
            button {
                &:hover {
                    border-color: nth($primaryColor, $style);
                    background: nth($primaryColor, $style);
                }
            }
        }
    }

    .add_bookmark,
    .filter_search_btn {

        &:hover,
        &.active {
            background-color: nth($primaryColor, $style);
            border-color: nth($primaryColor, $style);
        }
    }

    .option {
        .name {
            a {
                &:hover {
                    background: nth($primaryColor, $style);
                    border-color: nth($primaryColor, $style);
                }
            }
        }
    }

    //======= sass/__search.scss =======
    .search_system {
        .tab-content {
            .check_grp {
                &:hover {
                    color: nth($primaryColor, $style);
                }
            }

            a.database_link {
                &:hover {
                    color: nth($primaryColor, $style);
                }
            }
        }
        input[type="text"]{
            margin: 0;
        }

        .add_condition {
            border-color: nth($primaryColor, $style);
            color: nth($primaryColor, $style);
        }

        .keywordHot {
            ul {
                a {

                    &:hover,
                    &:focus {
                        text-decoration: underline;
                        color: nth($primaryColor, $style);
                    }
                }
            }
        }

        .condition {
            .delete {
                border-color: nth($primaryColor, $style);

                &:before {
                    background: nth($primaryColor, $style);
                }
            }
        }

        input {
            &[type="submit"] {
                background-color: nth($primaryColor, $style);

                &:hover {
                    background-color: nth($importantColor, $style);
                }

                @include screen('mobile') {
                    background: nth($primaryColor, $style) url(../images/icon/icon_search_invert.svg) no-repeat center center;
                }
            }
        }
    }


    //======= page/_lightbox.scss =======
    .login_lightbox {
        .loginblock {
            .name {
                color: nth($primaryColor, $style);
            }

            .login_instructions {
                a {
                    &:after {
                        background: nth($primaryColor, $style);
                    }
                }
            }
        }

        .function_grp {

            button,
            input,
            select {
                border-color: nth($primaryColor, $style);
            }
        }

        .btn {
            &:hover {
                background-color: nth($primaryColor, $style);
            }
        }
    }

    .detail_lightbox {
        .detailblock {
            .title {
                background: nth($primaryColor, $style);
            }
        }

        .detail_top {
            h3 {
                color: nth($primaryColor, $style);
            }
        }

        .sourceblock {
            .source {
                border-left-color: nth($primaryColor, $style);
            }
        }
    }

    .personal_lightbox {
        .manage_tag {
            input[type="text"] {
                border-bottom-color: nth($primaryColor, $style);
            }
        }
    }


    //======= page/_lp.scss =======
    .lp,
    .personal {
        h2 {
            color: nth($primaryColor, $style);
        }
    }

    .main_content {
        .keyword {
            input[type="submit"] {
                background: nth($primaryColor, $style) url(../images/icon/icon_search_invert.svg) no-repeat center center;

                &:hover {
                    background-color: nth($importantColor, $style);
                }
            }
        }
    }

    .filter_search {
        .conditions {
            border-color: nth($primaryColor, $style);

            .del_all {
                &:hover {
                    background-color: nth($primaryColor, $style);
                    border-color: nth($primaryColor, $style);
                }
            }
        }

        .focus {
            button {
                border-color: nth($primaryColor, $style);
                color: nth($primaryColor, $style);

                &:hover {
                    background-color: nth($primaryColor, $style);
                    border-color: nth($primaryColor, $style);
                }
            }
        }
    }

    .accordion_content,
    .list_content {
        >button {
            border-color: nth($primaryColor, $style);
            color: nth($primaryColor, $style);

            &:hover {
                border-color: nth($primaryColor, $style);
                background: nth($primaryColor, $style);
            }
        }
    }

    .search_result {
        .content {
            .tab_grp {
                button {
                    &:hover {
                        border-color: nth($primaryColor, $style);
                        background: nth($primaryColor, $style);
                    }
                }
            }

            .added_list {
                .select_source {
                    background: nth($primaryColor, $style);
                    border-color: nth($primaryColor, $style);
                }
            }
        }
    }

    .list_block {
        .list_data {
            h3 {
                a {
                    color: darken(nth($primaryColor, $style), 15);

                    &:hover {
                        color: nth($primaryColor, $style);
                    }
                }
            }

            .tag {
                border-color: nth($primaryColor, $style);
                background: nth($primaryColor, $style);

                &:hover {
                    background: darken(nth($primaryColor, $style), 5);
                }
            }
            .tag_edit {
                background: #fff;
                border-color: #929292;
                &:hover {
                    background: $color-lightgray;
                }
            }

            button {
                &.btn_primary {
                    border-color: nth($primaryColor, $style);
                    color: nth($primaryColor, $style);

                    &:hover {
                        background-color: rgba(nth($primaryColor, $style), .1);
                    }
                }
            }
        }
    }

    .publication_year {

        input[type=number]:invalid,
        input[type=number]:out-of-range {
            border-color: nth($primaryColor, $style);
        }

        input[type=range]:focus::-webkit-slider-runnable-track {
            background: nth($primaryColor, $style);
        }

        input[type=range]:focus::-ms-fill-lower {
            background: nth($primaryColor, $style);
        }

        input[type=range]:focus::-ms-fill-upper {
            background: nth($primaryColor, $style);
        }

        input[type=range]::-webkit-slider-runnable-track {
            background: nth($primaryColor, $style);
        }

        input[type=range]::-webkit-slider-thumb {
            border-color: nth($primaryColor, $style);
        }

        input[type=range]::-moz-range-track {
            background: nth($primaryColor, $style);
        }

        input[type=range]::-moz-range-thumb {
            border-color: nth($primaryColor, $style);
        }

        input[type=range]::-ms-fill-lower,
        input[type=range]::-ms-fill-upper {
            background: nth($primaryColor, $style);
        }

        input[type=range]::-ms-thumb {
            border-color: nth($primaryColor, $style);
            background: nth($primaryColor, $style);
        }
    }

    //======= page/_mp.scss =======
    .search_block {
        .recent_searches {
            .title {
                color: nth($primaryColor, $style);
            }
        }
    }

    .featured_data {
        &:before {
            background: nth($primaryColor, $style);
        }

        li {
            a {
                &:hover {
                    color: nth($primaryColor, $style);
                }
            }
        }

        a.more {
            &:after {
                border-color: nth($primaryColor, $style);
            }
        }
    }

    //======= page/_sp.scss =======
    .sp {
        .main_content {
            .featured_data {
                .apply {
                    &:hover {
                        border-color: nth($primaryColor, $style);
                        background: nth($primaryColor, $style);
                    }

                    &:before {
                        background: nth($importantColor, $style);
                    }
                }
            }
        }
    }

    .detail_block {
        h3 {
            color: darken(nth($primaryColor, $style), 15);
        }
    }

}