.breadcrumb {
    padding: .1em 0em .1em;
    font-size: .875em;
    ul {
        display: inline-block;
        @include li-reset;
        li {
            display: inline-block!important;
            margin: 0px .1em .1em 0px;
            &:before {
                @extend %slash;
            }
            &:first-child:before {
                content: none;
            }
        }
    }
    a {
        color: $linkColor;
        &:hover{
            text-decoration: underline;
        }
    }
}