footer{
	padding:2em 0;
	background: nth($secondaryColor, $style);
	width: 100%;
	align-self: flex-end;
	.container{
		@include gutter();
		color:#fff;
		display: flex;
		justify-content: center;
	}
	ul{
		@include li-reset;
		a{
			color: #fff;
			opacity: .7;
			&:hover{
				opacity: 1;
				color: #fff;
			}
		}
	}
	li{
		margin:.5em 0;

	}
	nav{
		font-size: .938em;
		max-width: 60%;
		@include screen('mobile'){
			display: none;
		}
		>ul{
			display: flex;
			flex-wrap: wrap;
			>li{
				flex:0 1 33.33333%;
				padding-right: 2em;
				@include screen('xs_mobile'){
					flex:0 0 100%;
					padding-right: 0;
				}
				>a{
					display: inline-block;
					font-size: 1.125em;
					color: #fff;
					margin: .5em 0 ;
					font-weight: bold;
					opacity: 1;
					&:hover{
						color: $color-yellow;
					}
				}
				>ul{
					>li{
						@include screen('xs_mobile'){
							display: inline-block;
							margin-right: .5em;
						}
					} 	
				}
			}
		}
	}
	.footer_info{
		font-size: .813em;
		margin-left: 2em;
		@include screen('mobile'){
			margin-left: 0;
		}
	}
}