.function_panel {
    background: linear-gradient(to bottom, #ffffff, #e5e5e5);
    padding: .5em 1.5em;
    position: relative;
    border: 1px solid $color-lightgray;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    @include screen('mobile') {
        padding: .5em 15px;
        //display: block;
    }

    button {
        background: transparent;
        height: 40px;

        &:hover {
            color: $primaryColor;
        }
    }

    .display_grp {
        display: flex;
        align-items: center;

        button {
            padding: 0 0 0 2em;
            margin: 0 5px 0 0;
            border-radius: 0;
            border: none;
            background: none;
            color: $color-word-light;
            position: relative;
            height: auto;

            &:before {
                content: "";
                position: absolute;
                display: inline-block;
                width: 24px;
                height: 24px;
                border-radius: 4px;
                left: 0;
                top: -1px;
                margin: 0 3px;
                opacity: .6;
                transition: .3s;
            }

            &:hover,
            &.active {
                &:before {
                    opacity: 1;
                }
            }
        }

        .list_less {
            &:before {
                background: $color-gray url(../images/icon/icon_list_less.svg) center no-repeat;
                background-size: 80%;
            }

            &:hover,
            &.active {
                &:before {
                    background: nth($primaryColor, $style) url(../images/icon/icon_list_less_invert.svg) center no-repeat;
                    background-size: 80%;
                }
            }
        }

        .list_more {
            &:before {
                background: $color-gray url(../images/icon/icon_list_more.svg) center no-repeat;
                background-size: 80%;
            }

            &:hover,
            &.active {
                &:before {
                    background: nth($primaryColor, $style) url(../images/icon/icon_list_more_invert.svg) center no-repeat;
                    background-size: 80%;
                }
            }
        }
        &+.result_amount{
            margin: 0 .5em;
            padding-left: .5em;
            border-left: 1px solid #fff;
            box-shadow: -1px 0 0  $color-gray;
            @include screen('mobile'){
                border: 0;
                box-shadow: none;
                padding-left: 0;
            }
        }
    }


    .result_amount {
        display: inline-flex;
        flex-wrap: wrap;
        align-items: center;

        .search_word {
            color: nth($primaryColor, $style);
        }

        .total {
            padding: 0 0 0 .4em;
        }

        em {
            display: inline-block;
            font-style: normal;
            padding: 0 .4em;
            color: nth($primaryColor, $style);
        }

        .relative_subject {
            color: $linkColor;
            text-decoration: underline;
            margin: .5em;

            &:hover {
                color: darken($linkColor, 10);
            }
        }
        .filter_num{
            margin-left: .5em;
        }

        .total:after,
        .search_word,
        .filter_num,
        .relative_subject {
            @include screen('tablet') {
                display: none;
            }
        }
    }

}

.function_block {
    display: inline-flex;
    align-items: center;
    margin: .5em 0;

    // @media (min-width: 992px) and (max-width: 1200px) {
    //     position: static;
    //     margin-top: 1em;
    // }

    @include screen('xs_mobile') {
        // display: flex;
        // justify-content: flex-end;
    }

    .btn_grp {
        padding: 0;
        margin: 0;
        display: flex;

        @include screen('mobile') {
            position: absolute;
            bottom: calc(100% + .75em);
            right: 15px;
        }

        button {
            display: flex;
            align-items: center;
            margin:0 0 0 .5em;
            transition: .3s ease-in;
            i{
                transition: .2s ease-in;
            }
            //@extend %hover_transition;

            &:hover{
                border-color: nth($primaryColor, $style);
                background: nth($primaryColor, $style);
                color: #fff;
                i{
                    filter: invert(1);
                }
            }

            &:first-of-type {
                margin-left: 0;
            }

            @include screen('tablet') {
                min-width: 40px;
                justify-content: center;
            }

            i {
                @include screen('tablet') {
                    margin: 0;
                }
            }

            span {
                @include screen('tablet') {
                    font-size: 0;
                }
            }
        }
        &+.option{
            margin-left: .5em;
        }
    }
}

.filter_search_btn {
    display: none;

    @include screen('tablet') {
        display: block;
    }
    &:hover,
    &.active {

        .i_filter {
            &:before {
                background-image: url(../images/icon/icon_filter_invert.svg);
            }
        }
    }
}

.add_bookmark{
    &:hover,
    &.active {

        .i_bookmark {
            &:before {
                background-image: url(../images/icon/icon_bookmark_invert.svg);
            }
        }
    }
}

.add_bookmark,
.filter_search_btn {
    border: 1px solid $color-input;
    background: none;
    color: $color-word;
    margin: 0 0 0 .5em;
    position: relative;
    transition: .2s ease-in;

    @include screen('tablet') {
        padding: .4em;
        min-width: 2.5em;
    }
    
    &:hover,
    &.active {
        color: #fff;
        background-color: nth($primaryColor, $style);
        border-color: nth($primaryColor, $style);
    }

    i {
        transition: .2s ease-in;
        margin: 0;

        &:before {
            height: 1.2em;
            width: 1.2em;
        }
    }

    span {
        @include screen('tablet') {
            display: none;
        }
    }
}

.option {
    position: relative;
    z-index: 10;
    //margin-left: .5em;

    @include screen('mobile') {
        display: none;
    }

    .name {
        a {
            border: 1px solid $color-input;
            display: block;
            color: $color-word;
            padding: 0 2em 0 1em;
            line-height: 38px;
            cursor: pointer;
            border-radius: $rounded-angle;
            transition: .2s ease-in;
            //@extend %hover_transition;
            &:after {
                content: "";
                position: absolute;
                display: block;
                width: 15px;
                height: 15px;
                background: url(../images/icon/icon_arrow_down.svg) no-repeat center;
                background-size: contain;
                top: 12px;
                right: 10px;
                transition: .2s ease-in;
            }
           
            &:hover{
                background: nth($primaryColor, $style);
                border-color: nth($primaryColor, $style);
                text-decoration: none;
                color: #fff;
                &:after{
                    background-image: url(../images/icon/icon_arrow_down_invert.svg);
                }
            }
        }
    }

    .option_list {
        position: absolute;
        background: #fff;
        border-radius: $rounded-angle;
        box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
        padding: 10px;
        min-width: 150px;
        width: 100%;
        top: 42px;
        right: 0;
        transform-origin: 50% 0;
        animation: slideDown .3s ease-out;

        ul {
            @include li-reset;
        }

        li {
            border-bottom: 1px solid lighten($color-line, 5);

            &:last-child {
                border: none;
            }
            &.active{
                a{
                    color: nth($primaryColor, $style);
                }
            }

            a {
                padding: 8px 5px;
                color: $color-word;
                display: block;
                transition: all .3s;

                &:hover, &.active {
                    color: nth($primaryColor, $style);
                }
            }
        }
    }
}

.tabSet {
    &+.function_panel {
        .function_block {
            .btn_grp {
                bottom: calc(100% + 3.75em)
            }
        }
    }
}