//header
.header {
    position: fixed;
    z-index: 50;
    height: 55px;
    background: $secondaryColor;
    width: 100%;
    top: 0;
    @include box-shadow(0px 2px 5px RGBA(0, 0, 0, .2)); 

    %mobileCtrlBtn {
        width: 55px !important;
        height: 55px !important;
        position: absolute;
        top: 0px;
        display: block;
        font-size: 0em;
        padding: 15px;
        margin: 0;
        min-width: auto;
        min-height: auto;
        background: transparent;
        border: none;
        @include box-sizing;
        @include screen('tablet') {
            display: block !important;
        }
    }
    >.container {
        max-width: 100%;
        overflow: visible;
        position: relative; // menu
        //padding-top: 8px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include gutter();
        @include screen('mobile'){
            padding: 0;
            display: block;
        }
        .sidebarCtrl {
            display: none;
            right: 0px;
            background: url('../images/sidebarCtrl_white.png') no-repeat center;
            box-shadow: none;
            @extend %mobileCtrlBtn;
            span {
                position: absolute;
                background:$secondaryColor;
                width: 50%;
                height: 4px;
                top: 35%;
                left: 50%;
                margin-left: -25%;
                display: block;
                &:nth-child(2) {
                    top: 50%;
                }
                &:nth-child(3) {
                    top: 65%;
                }
            }
        }
        .accesskey {
            color: #1b1b1b;
        }
    }
    h1 {
        max-width: 220px;
        height: 40px;
        margin: 0 0 0 20px;
        padding: 0;
        flex: 0 0 220px;
        @include box-sizing;
        a {
            display: inline-block;
        }
        img {
            display: block;
            max-width: 220px;
            max-height: 40px;
        }
        @include screen('mobile') {
            padding: 2px 60px;
            width: 100%;
            max-width: 100%;
            text-align: center;
            height: 55px;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                display: none;
            }   
        }
        span{
            display: none;
            font-size: 1em;
            color:#fff;
            font-size: 0.5em;
            font-weight: normal;
            @include screen('mobile'){
                display: block;
            }
        }
    }
    // 導覽列
    .navigation {
        flex: 1 1 auto;
        text-align: center;
        font-size: .938em;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        @include screen('mobile') {
            display: none;
        }
        >ul {
            display: inline-flex;
            flex-wrap: nowrap;
            justify-content: flex-end;
            align-items: center;
            padding: 0;
            margin: 0;
            list-style: none;
            max-width: 520px;
            height: 100%;
            overflow: hidden; 
            @media screen and (max-width: 1200px){
                max-width: 430px;
            }
             @media screen and (max-width: 1200px){
                max-width: 430px;
            }
            @include screen('tablet') {
                display: none;
            }

        }
        li {
            height: 100%;
            a {
                display: flex;
                align-items: center;
                padding: .5em 1em;
                text-decoration: none;
                color: #f0f0f0;
                height: 100%;
                background: $secondaryColor;
                transition: .3s;
                &:hover {
                    color: #fff;
                    background: lighten($secondaryColor, 5);
                }
                
                &.active{
                    color: #fff;
                    background: nth($primaryColor, $style);
                    &:hover{
                        color: #fff;
                        background: nth($primaryColor, $style);
                    }
                }
            }
        }
    }
    .more_list_block{
        height: 100%;
        display: inline-block;
        position: relative;
        @include screen('tablet'){
            display: none;
        }
        .more{
            height: 100%;
            padding: .5em 1.5em .5em 1em;
            border-radius: 0;
            background: none;
            position: relative;
            margin:0;
            border:none;
            color:#ccc;
            background: $secondaryColor;
            &:hover{
                color: #fff;
                background: lighten($secondaryColor, 5);
            }
            &:before{
                content:"";
                position: absolute;
                right: .5em;
                top: calc(50% - 6px);
                display: block;
                content: "";
                width: 6px;
                height: 6px;
                border-width: 1px 1px 0 0;
                border-style: solid;
                border-color: #ccc;
                transform: rotate(135deg);  
            }
        }
        .more_list{
            display: none;
            position: absolute;
            right:0;
            top: 46px;
            width: 180px;
            background: #fff;
            box-shadow: $box;
            border-radius: $rounded-angle;
            transform-origin: 50% 0;
            animation: slideDown .3s ease-out;
            @include li-reset;
            padding: .8em 0; 
            li{
                display: block;
                width: 100%;
                margin:0;
                text-align: left;
            }
            a{
                color: $color-word;
                display: block;
                padding: .5em 1em;
                background-color: #fff;
                transition: all .3s;
                &:hover{
                    background-color: $color-lightgray;
                    color: $color-word;
                }
            }
        }
    }
    .nav_right{
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        height: 100%;
        @include screen('tablet') {
            display: none;
        }
        
    }
    //會員登入後
    .member_record{
        display: flex;
        align-items: center;
        margin: 0 .5em;
        position: relative;
        height: 100%;
    }
    .member_name{
       color:#fff; 
       font-size: .938em;
       margin-right: .5em;
    }
    .btn_member{
        width: 32px;
        height:32px;
        padding:0;
        border-radius: 30px;
        border-color: nth($primaryColor, $style);
        min-width: auto;
        overflow: hidden;
        background: nth($primaryColor, $style);
        position: relative;
        @extend %hover_transition; 
        &:before{
            background-color: $importantColor;
        }
        img{
            position: absolute;
            bottom: -1px;
            left: 5%;
            width: 90%;
            vertical-align: middle;
            filter:invert(1);
        }
   }
   .member_data{
        display: none;
        position: absolute;
        right: 0;
        top: 55px;
        width: 150px;
        background: #fff;
        border-radius: $rounded-angle;
        box-shadow: $box;
        overflow: hidden;
        transform-origin: 50% 0;
        animation: slideDown .3s ease-out;

        ul{
            @include li-reset;
        }
        li{
            border-bottom: 1px solid $color-line;
            &:last-child{
                border: none;
            }
            a{
                display: block;
                padding:.5em 1em;
                color: $color-word;
                font-size: .938em;
                &:hover{
                    background: $color-lightgray;
                }
            }
        }
   }
    // language
    .language {
        display: inline-block;
        margin-top: 0px;
        margin-right: 10px;
        position: relative;
        //padding-top: .3em;
        font-size: 1em;
        select{
            background: rgba(0,0,0,0) url(../images/icon/icon_arrow_down_invert.svg) no-repeat right 5px center;
            color: #fff; 
            border:none;
            background-size: 12px;
            padding-right: 20px;
            height: 2.4em;
            line-height: 2.4em;
            min-width: 6.5em;
        }
        a {
            color: #fff;
            display: block;
            width: 110px;
            font-size: .938em;
            padding: 4px 30px 4px 15px;
            text-align: left;
            line-height: 1.5;
            background-color: rgba(255,255,255, 0.1);
            @include box-sizing(border-box);
            &:hover,
            &:focus{
                background-color: rgba(255,255,255, 0.2);
                text-decoration: none;
            }
        }
        ul {
            margin: 0;
            padding: 5px 0;
            list-style-type: none;
            display: none;
            position: absolute;
            background: #fff;
            box-shadow: $box;
            top: auto;
            left: 0;
            border-radius: $rounded-angle;
            overflow: hidden;
            transform-origin: 50% 0;
            animation: slideDown .3s ease-out;
            li {
                margin-bottom: 0px;
                width: 100%;
                a {
                    background-image: none;
                    color: $color-word;
                    text-align: left;
                    padding: 4px 15px 3px;
                    display: block;
                    transition: .5s;

                    &:hover{
                        background: $color-lightgray;
                    }

                    &.active {
                        background-color: nth($primaryColor, $style);
                        color: #fff;
                    }
                }
            }
        }
    }
    .login {
        display: inline-block;
        margin-top: 0px;
        margin-right: 10px;
        @include screen('tablet') {
            margin-right: 10px;
            position: absolute;
            right: 10px;
            top: 10px;
            margin: 0;
        }
        @include screen('mobile') {
            
        }
        .btn {
            @include box-sizing(border-box);
            padding: 4px 20px!important;
            color: #fff;
            border:none;
            font-size: .938em;
            font-weight: bold;
            margin: 0;
            background: nth($primaryColor, $style);
            border-radius: 30px;
            line-height: 1.5;
            @extend %hover_transition;
            &:before{
                background-color: $importantColor;
            }
            @include screen('mobile') {
                min-width: auto;
                padding: 4px 10px 3px !important;
            }
        }
    }
    // .login_mobile_btn {
    //     display: none;
    //     @include screen('mobile') {
    //         display: block;
    //     }
    // }
    //menu
    .menu {
        display: none;
    }
}
//search
.search {
    min-width: 25%;
    max-width: 50%;
    float: right;
    vertical-align: middle;
    padding: 0em .3em 0em;
    @include box-sizing;
    label {
        font-size: 0em;
    }
    .form_grp {
        margin-bottom: 0;
        margin-right: 0 !important;
        input {
            margin: -0.2em 0 0;
            padding: .2em 35px .2em .5em;
            &[type="submit"] {
                font-size: 0em;
                width: 30px !important;
                height: 30px;
                max-width: auto;
                min-width: auto;
                background: url(../images/basic/icon_search.png) no-repeat center center;
                background-size: 20px;
                border: none;
                display: inline-block;
                margin-left: -40px !important;
                margin-top: -2px !important;
                opacity: .8;
                &:hover,
                &:focus {
                    opacity: 1;
                }
            }
        }
    }
    .btn_grp {
        padding: .2em;
        margin-bottom: 0;
        input,
        input[type="submit"] {
            margin: 0;
            padding: .4em 1em .4em !important;
            font-size: .813em;
        }
    }
    .keywordHot {
        display: inline-block;
        vertical-align: middle;
        margin-left: .5em;
        padding: .1em 0 .3em;
        ul {
            display: inline-block;
            font-size: .813em;
            line-height: 1.65em;
            margin: 0;
            padding: 0;
            &:before {
                display: inline-block;
                content: "熱門關鍵字：";
                color: #999;
                float: left;
            }
            li {
                margin: 0 .6em 0 0;
                padding: 0;
                display: inline-block;
            }
            a {
                &:hover,
                &:focus {
                    text-decoration: underline;
                }
            }
        }
    }
    // m_search
    &.m_search {
        width: 100% !important;
        max-width: 100% !important;
        min-width: auto;
        padding: .2em .3em .5em;
        display: block;
        height: auto;
        position: fixed;
        top: 60px;
        left: 0;
        z-index: 98;
        background: #333;
        label {
            font-size: 0em;
            line-height: 0;
        }
        .form_grp {
            width: 65%;
            height: auto;
            padding: 0 0 0 5% !important;
            margin-top: 0;
            text-align: right;
            float: left;
            height: 50px;
            position: relative;
            @include box-sizing();
            input {
                width: 100%;
                margin: -0.2em 0 0;
                padding: .5em 45px .4em .5em;
                &[type="submit"] {
                    font-size: 0em;
                    width: 36px !important;
                    height: 36px;
                    padding: 0;
                    max-width: auto;
                    min-width: auto;
                    background: url(../images/basic/icon_search.png) no-repeat center center;
                    background-size: 24px;
                    border: none;
                    display: inline-block; // margin-left: -50px !important;
                    position: absolute;
                    right: 5px;
                    top: 22px;
                    opacity: .8; // outline:1px solid red;
                    &:hover,
                    &:focus {
                        opacity: 1;
                    }
                }
            }
        }
        .btn_grp {
            display: inline-block;
            padding: .2em;
            margin-bottom: 0;
            width: 20%;
            margin-top: 20px;
            padding-left: 5%;
            @include box-sizing();
            input {
                width: 80% !important;
                padding: .6em 1em .7em !important;
                margin: 0;
            }
        }
        .keywordHot {
            padding-left: 5%;
            margin-top: 10px;
            @include clearfix;
            a {
                color: #FFF;
                &:hover,
                &:focus {
                    color: $secondaryColor;
                }
            }
        }
    }
}
// header fix
.header.fixed {
    position: fixed;
    width: 100%;
    right: 0;
    top: 0;
    box-shadow: rgba(0, 0, 0, .5) 0 0 25px;
    background: #1b1b1b;
    z-index: 7;
    .menu {
        >ul {
            >li {
                >a {
                    color: #FFF;
                }
            }
        }
    }
}