body.fix {
    height: 100%;
    overflow: hidden !important;
    width: 100% !important;
    position: fixed !important;
}

//共用燈箱設定
.login_lightbox,
.related_lightbox,
.detail_lightbox,
.filter_lightbox {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(51, 51, 51, .4);
    z-index: 200;
    overflow-y: auto;

    //display: none;
    .overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

}

.close {
    background: url('../images/icon/icon_close.svg') no-repeat center;
    background-size: 80%;
    width: 25px;
    height: 25px;
    display: block;
    cursor: pointer;
    opacity: .8;
}



.mainleftblock .lightboxstyle {
    .close {
        display: block !important;
        z-index: 9;
    }
}

%lightbox_block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    background-color: #fff;
    border-radius: $rounded-angle;
    //overflow: auto;
    box-shadow: $box;

    @include screen('xs_mobile') {
        padding: 40px 20px 20px;
        width: calc(100% - 30px);
        min-width: auto;
        @include box-sizing;
    }

    .close {
        position: absolute;
        right: 15px;
        top: 15px;
        z-index: 10;
    }

    .btn_primary {
        background: #fff;
        border: 1px solid $primaryColor;
        color: $primaryColor;
        padding: .2em .5em;
        transition: .2s;
        &:hover{
            background: $primaryColor;
            color: #fff;
        }
    }
}

// 登入
.login_lightbox {
    .loginblock {
        @extend %lightbox_block;
        width: 520px;
        padding: 30px 40px;
        overflow-y: scroll;

        .name {
            color: $primaryColor;
        }

        .error {
            font-size: .875em;
            text-align: center;
            margin-bottom: .5em;
            color: $color-error;
        }

        input[type="submit"] {
            width: 100%;
            height: 42px;
        }

        h2 {
            font-size: 1.125em;
            text-align: center;
        }

        p {
            text-align: center;

        }

        .form_content {
            text-align: center;
            padding: 0 40px;

            @include screen('xs_mobile') {
                padding: 0;
            }
        }

        .cannot_login {
            font-size: .938em;
            color: lighten($color-word, 30);
            display: inline-block;
            margin: 1em 0;

            &:hover {
                color: $color-word;
            }

            &:after {
                content: "";
                display: block;
                width: 100%;
                height: 1px;
                background: lighten($color-word, 30);
            }
        }

        .login_instructions {
            font-size: .875em;
            text-align: center;

            a {
                display: inline-block;

                &:after {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 1px;
                    background: $primaryColor;
                    line-height: 1;
                }
            }

            .pc {
                @include screen('mobile') {
                    display: none;
                }
            }

            .mobile {
                display: none;

                @include screen('mobile') {
                    display: block;
                }
            }

        }

        .form_grp {
            margin-bottom: 1em;

            label {
                position: absolute;
                line-height: 44px;
                left: 0;
                padding: 0 .65em;
                color: $color-word-light;

                &:before {
                    content: "";
                    position: absolute;
                    right: 0;
                    top: 8px;
                    width: 1px;
                    height: calc(100% - 16px);
                    background: $color-line;
                }

                &+input[type="text"],
                &+input[type="password"] {
                    padding-left: 3.8em;
                }
            }

            input[type="text"],
            input[type="password"] {
                width: 100%;
                height: 44px;
            }

            &.form_inline {
                display: flex;
                position: relative;
            }
        }

        .btn_grp {
            padding: 0;
        }

        .renew {
            background: none;
            border: none;
            min-width: 3em;
        }

        .unable_login {
            margin: 20px 0;
            padding: 0;
            text-align: center;

            h3 {
                position: relative;
                text-align: left;
                margin: 10px 0 !important;
                padding: 0 !important;
                font-size: 1.25em;
                border: none !important;

                span {
                    background-color: #fff;
                    padding: 5px 15px;
                    position: relative;
                    z-index: 99;
                    display: inline-block;
                    margin-left: 20px;
                    color: #333;
                }

                &:before {
                    content: '';
                    width: 100%;
                    height: 1px;
                    background-color: #666;
                    position: absolute;
                    top: 15px;
                    z-index: 9;
                }
            }
        }

        // @media(max-width: 400px) {
        //     .btn,
        //     .btn-green,
        //     .btn-blue,
        //     .btn-yellow,
        //     .btn-orange,
        //     .btn-red,
        //     .btn-purple,
        //     form button,
        //     form input[type="button"],
        //     form input[type="submit"],
        //     form input[type="reset"],
        //     form .upload_grp .upload_btn {
        //         margin: 0 0 10px;
        //     }
        // }


        .notSignin {
            text-align: center;
            font-size: .875em;
            margin: 1em 0;

            .cannot_signin {
                color: $color-word-light;
                padding: 0 .5em;
                text-decoration: underline;
            }

            .customer {
                padding: 0 .5em;
                text-decoration: underline;
            }
        }
    }

    .social_slider {
        display: flex;
        justify-content: center;
        margin: .5em 0 1em 0;
        position: relative;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            background-color: #fff;
            border-radius: 50%;
            box-shadow: 0 0 2px rgba(0, 0, 0, .3);
            margin: 0 .5em;
            transition: all .3s;
            box-sizing: border-box;

            &:hover {
                box-shadow: 0 0 6px rgba(0, 0, 0, .5);
            }

            img {
                width: 30px;
            }
        }

        .slick-prev,
        .slick-next {
            border: 0;
            position: absolute;
            font-size: 0;
            top: 0;
            height: 100%;
            width: 20px;
            border-radius: 0;
        }

        .slick-next {
            right: 0;
            background: url(../images/icon/icon_arrow_right.svg) center center no-repeat RGBA(255, 255, 255, .5);
            background-size: 15px 15px;
        }

        .slick-prev {
            left: 0;
            background: url(../images/icon/icon_arrow_left.svg) center center no-repeat RGBA(255, 255, 255, .5);
            background-size: 15px 15px;
        }
    }

    .function_grp {
        position: absolute;
        bottom: 20px;
        width: 520px;
        justify-content: center;
        align-items: center;
        display: none;

        @include screen('tablet') {
            position: static;
            padding: 10px 20px 30px;
            width: 100%;
            display: flex;
        }

        .language {
            font-size: 1em;
            font-weight: normal;
            min-width: 148px;
            margin: .5em;

            @include screen('xs_mobile') {
                min-width: 40%;
            }

            @media screen and (max-width: 375px) {
                min-width: auto;
            }

            select {
                margin-bottom: 0;
            }
        }

        button,
        input,
        select {
            border-radius: 30px;
            background-color: #fff;
            border: 1px solid $primaryColor;
            padding: .5em 1.5em;
            min-width: 148px;

            @include screen('xs_mobile') {
                padding: .5em 1em;
                min-width: 40%;
            }

            @media screen and (max-width: 375px) {
                min-width: auto;
            }
        }

        button,
        input {
            margin: .5em;
        }

        .btn {
            transition: all .3s;

            &:hover {
                color: #fff;
                background-color: $primaryColor;
            }
        }

    }

    .copyright {
        display: flex;
        font-size: .75em;
        align-items: center;

        @include screen('tablet') {
            display: none;
        }

        img {
            height: 40px;
            width: auto;
            margin: 0 5px;
        }

        p {
            color: $color-word-light;
            text-align: left;
            margin: 0 5px;
            line-height: 1.5;
        }
    }
}

.filter_lightbox {
    overflow: hidden;
    display: none;

    .checkblock {
        @extend %lightbox_block;
        width: 350px;
        //max-height: 85%;
        height: 85%;
        padding: 1em 0;

        @include screen('tablet') {
            width: 100%;
            //max-height: 100%;
            height: 100%;
            border-radius: 0;
        }

        h3 {
            padding: 0 20px;
        }

        form {
            height: 100%;
        }

        .btn_grp {
            position: absolute;
            bottom: 0;
            left: 0;
            margin-bottom: 0;
            width: 100%;
            box-shadow: $box;

            @include screen('tablet') {
                position: fixed;
                padding: .5em 0;
            }
        }
    }

    .scroll_content {
        overflow-y: scroll;
        height: calc(100% - 110px);
        padding: 20px;
        // @include screen('tablet'){
        //     height: calc( 100% - 110px);
        // }
    }
}

.detail_lightbox {
    .detailblock {
        @extend %lightbox_block;
        width: 1100px;
        max-width: 95%;
        height: 90%;
        padding: 10px;
        overflow: hidden;
        @include screen('mobile'){
            height: 95%;
        }

        .title {
            position: absolute;
            width: 100%;
            margin: 0;
            background: $primaryColor;
            color: #fff;
            top: 0;
            left: 0;
            padding: 16px 30px;
            font-size: 1.125em;
        }

        .close {
            filter: invert(1);
            top: 13px;
        }
    }

    .scroll_content {
        overflow-y: scroll;
        height: calc(100% - 50px);
        padding: 10px 20px;
        margin-top: 50px;
    }

    .detail_top {
        h3{
            line-height: 1.5;
        }
        a {
            color: $linkColor;
            text-decoration: underline;
        }
    }

    .info_list {
        @include li-reset;

        li {
            display: flex;

            @include screen('mobile') {
                flex-wrap: wrap;
            }
        }

        h4 {
            flex: 0 0 150px;
            margin: .5em 0;

            @include screen('mobile') {
                flex-basis: 100%;
            }
        }

        .content {
            margin: .5em 0;
            line-height: 1.5;

            a {
                display: inline-block;
                color: $linkColor;
                text-decoration: underline;
                margin-right: .8em;
                &:hover{

                }
            }
        }
    }

    .info_icon {
        @include li-reset;
        display: flex;
        flex-wrap: wrap;
        li {
                margin:.5em;
            a {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                width: 90px;
                min-height: 90px;
                height: 100%;
                padding: 5px;
                border-radius: $rounded-angle;
                background: #fff;
                transition: .3s;
                box-shadow: $box;
                &:hover{
                    transform: scale(1.1);
                    background: $primaryColor;
                    img{
                        opacity: 1;
                        filter:invert(1);
                    }
                    .function_name{
                        color:#fff;
                    }
                }
            }

            .img-container {
                margin: .5em auto;
                width: 30px;
                height: 30px;
            }

            img {
                object-fit: contain;
                opacity:.7;
                transition: .3s;
            }

            .function_name{
                width: 100%;
                text-align: center;
                font-size: .875em;
                color: $color-word;
                line-height: 1.2;
                transition: .3s;
            }

        }
    }
    .relative_link{
        //@include li-reset;
        li{
            margin:.25em 0;
        }
        a{
            color: $linkColor;
            text-decoration: underline;

        }
    }

}