.lp {

    position: static;


    h2 {
        color: $primaryColor;
        font-size: 1.5em;
    }

}



.main_content {
    background: $color-lightgray;

    .container {
        position: static;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    h3 {
        font-size: 1.25em;
        margin: .5em 0;
    }

    .filter_search {
        width: 270px;
        flex: 0 0 270px;
        //background-color: $color-lightgray;
        @include gutter();

        @include screen('tablet') {
            position: fixed;
            z-index: 100;
            top: 100%;
            left: 0;
            background-color: #fff;
            border-radius: $rounded-angle $rounded-angle 0 0;
            box-shadow: $box;
            width: 100%;
            height: 100%;
            overflow-y: scroll;
            border-radius: 0;
            transition: all .5s;
            display: none;
        }

        &.fix {
            @include screen('tablet') {
                height: 100%;
                overflow: hidden !important;
                width: 100% !important;
                position: fixed !important;
            }
        }

        &.show_up {
            top: 0;
            display: block;
        }

        >.close {
            position: absolute;
            right: 15px;
            top: 15px;
            display: none;

            @include screen('tablet') {
                display: block;
            }
        }

        h4 {
            color: $color-word-light;
            margin: .5em 0;
            font-weight: normal;
        }

        ul {
            @include li-reset;
        }

        .option {
            display: none;

            .option_list {
                width: 100%;
            }

            @include screen('tablet') {
                display: block;
            }
        }

        .keyword {
            padding-top: .5em;

            .form_inline {
                display: flex;
                align-items: center;
                position: relative;

                input[type="text"] {
                    width: 100%;
                    margin: 0;
                    height: 44px;
                }

                input[type="submit"] {
                    position: absolute;
                    margin: 0;
                    top: 0;
                    right: 0;
                    border-radius: 10px;
                    font-size: 0em;
                    width: 44px !important;
                    height: 44px;
                    background: $primaryColor url(../images/icon/icon_search_invert.svg) no-repeat center center;
                    background-size: 20px;
                    outline: 1px solid transparent;
                    border: none;
                    display: block;
                    min-width: 0em !important;
                    -moz-box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    transition: background-color .3s;

                    &:hover {
                        background-color: $aHover;
                    }
                }
            }
        }

        &+.search_overlay {
            background: RGBA(0, 0, 0, 0.5);
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            display: none;
            z-index: 9;
            overflow-x: hidden !important;
            overflow-y: auto !important;

            @include screen('mobile') {
                display: block;
            }
        }

        .conditions {
            background: #fff;
            border-radius: $rounded-angle;
            border: 1px solid $primaryColor;
            padding: 1em;
            margin: 1.5em 0;
            position: relative;
            overflow: hidden;

            h3 {
                margin-top: 0;
                padding-bottom: .5em;
                border-bottom: 1px solid $color-line;
            }



            .del_all {
                float: right;
                color: $color-word-light;
                border: 1px solid $color-input;
                background-color: #fff;
                display: flex;
                align-items: center;

                &:hover {
                    color: $primaryColor;
                }

                &:before {
                    content: "";
                    display: inline-block;
                    width: 18px;
                    height: 18px;
                    background: url(../images/icon/icon_trash.svg) no-repeat;
                    background-size: contain;
                    filter: invert(.3);
                    margin-right: 2px;
                }
            }


            li {
                margin-bottom: 1em;

                li {
                    margin-bottom: .5em;

                    span {
                        padding: 0 5px;
                    }
                }
            }

        }

        .focus {
            overflow: hidden;

            >div {
                padding-bottom: 1em;
            }

            button {
                float: right;
            }
        }

        .sort_list {
            margin: 1.5em 0;

            h3 {
                margin: .2em 0;
                position: relative;
                font-size: 1.125em;


                a {
                    display: block;
                    color: $color-word;

                    &:after {
                        content: '';
                        position: absolute;
                        right: 8px;
                        top: 3px;
                        border-width: 1px 0 0 1px;
                        border-color: $color-dark;
                        border-style: solid;
                        width: 10px;
                        height: 10px;
                        transform: rotate(225deg);
                        transition: .5s;
                    }

                    &.turnicon {
                        &:after {
                            transform: rotate(45deg);
                            top: 8px;
                        }
                    }
                }

            }

            .accordion_content {
                overflow: hidden;

                ul {
                    padding-left: .5em;
                }

                li {
                    padding: .5em 0;
                    overflow: hidden;

                    a {
                        color: $color-word;

                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    span {
                        padding: 0 .4em;
                    }
                }

                button {
                    float: right;
                }
            }

            >ul {
                >li {
                    padding: 1em 0;
                    border-bottom: 1px solid $color-line;
                }
            }


        }
    }
}

.search_result {
    flex-basis: calc(100% - 270px);
    max-width: calc(100% - 270px);
    @include gutter();

    @include screen('tablet') {
        flex-basis: 100%;
        max-width: 100%;
    }

    @include screen('mobile') {
        @include gutter(0);
    }

    h2 {
        @include screen('mobile') {
            display: none;
        }
    }

    .browse{
        margin-bottom: 1em;
        @include screen('mobile'){
            display: none;
        }
        .tab-content{
            padding: 1em;
            background: #fff;
            overflow:hidden;
            ul{
                @include li-reset;
            }
            li{
                display: flex;
                flex-wrap: wrap;
                padding: 2px 0;
            }
            .subtitle{
                flex-basis: 100px;
                margin-bottom: 4px; 
            }
            .items_inline, .items{
                a{
                    color: $linkColor;
                    text-decoration: underline;
                    &:hover{
                        color: darken($linkColor, 15);
                    }
                }
            }

            .items_inline{
                li{
                    display: inline-block;
                }   
            }
            .items{
                max-height: 165px;
                overflow: hidden;
                display: flex;
                flex-wrap: wrap;
                li{
                    flex-basis: calc(100% / 3);
                    padding: 5px 0;
                }
                &.open{
                    max-height: 100%;
                }
            }
            .btn_switch{
                position: relative;
                display: block;
                margin: .5em auto;
                background: none;
                color:$color-word;
                border:none;
                &:after{
                    content: '';
                    position: absolute;
                    left: 50%;
                    bottom: 0;
                    margin-left: -3px;
                    border-width: 2px 0 0 2px;
                    border-color: #333;
                    border-style: solid;
                    width: 6px;
                    height: 6px;
                    transform: rotate(225deg);
                    transition: .5s;
                }
                &.close{
                    &:after{
                        content: '';
                        top: 0;
                        transform: rotate(45deg);
                    }
                }
            }
        }
    }
    .content_block {
        display: flex;
        flex-wrap: wrap;

        .search_vocabulary {
            font-size: 1.125em;
            padding: .5em 0;
            width: 100%;
            flex: 0 0 100%;
            font-weight: bold;
        }

        .pic {
            flex: 0 0 115px;
            width: 115px;
            height: 125px;
            background-color: $color-gray;
            border-radius: $rounded-angle;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: .5em;

            img {
                object-fit: content;
                height: 100%;
                width: 100%;
            }
        }

        .text {
            flex-basis: calc(100% - 115px);
            padding-left: 15px;
            ul{
                @include li-reset;
            }
            li{
                overflow: hidden;
                position: relative;
                padding-left: 1em;
                margin-bottom: .5em;
                &:before{
                    content:"";
                    display: block;
                    position: absolute;
                    left: 0;
                    top: .4em;
                    width: 7px;
                    height: 7px;
                    background: $color-gray;
                    border-radius: $rounded-angle;
                }
            }

            p {
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                height: 4.2em;
                margin: 0;
                word-break: break-word;
            }

            a.more {
                margin: .5em 0;
                float: right;
                text-decoration: underline;
                color: $linkColor;

                &:hover {
                    color: darken($linkColor, 10);
                }
            }

            .other_subject {
                clear: both;
                font-weight: bold;

                a {
                    font-weight: normal;
                    color: $linkColor;
                    text-decoration: underline;

                    &:hover {
                        color: darken($linkColor, 10);
                    }
                }
            }
        }

    }

    .relevant_info {
        .accordion_content {
            ul {
                margin: 0;
            }

            li {
                padding: .25em 0;
            }

            a {
                color: $linkColor;
                text-decoration: underline;

                &:hover {
                    color: darken($linkColor, 10);
                }
            }
        }
    }

}

.list_all {
    background: #fff;
    padding: 0 1.5em;
    position: relative;

    @include screen('xs_mobile') {
        padding: 0 15px;
    }
}
.nodata{
    text-align: center;
    min-height: 200px;
    padding: 30px 15px;
    color: $color-word-light;
    @include screen('tablet') {
        min-height: calc(100vh - 600px);
    }
}

.list_block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    border-bottom: 1px solid $color-line;
    padding: 1em 0;

    .list_num {
        position: absolute;
        top: 1.3em;
        left: 0;
        color: $color-word-light;
        min-width: 50px;

        @include screen('mobile') {
            position: static;
        }

        //text-align: right;
        &:after {
            content: ".";
        }
    }

    a.more {
        color: $linkColor;
        display: inline-block;
        padding: 0 5px;
        text-decoration: underline;
    }

    .bookmark {
        position: absolute;
        top: 1em;
        right: 0;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background: #fff;
        display: inline-flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background: $color-lightgray;
        }

        img {
            width: 65%;
            height: auto;
        }
    }

    .sort_icon {
        flex: 0 0 100px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 2em;

        @include screen('mobile') {
            display: none;
        }

        .pic {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80px;
            height: 80px;
            border-radius: $rounded-angle;
            //box-shadow: $box;
            background: $color-lightgray;
            padding: .8em;

            img {
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }

        .sort_name {
            flex-basis: 100%;
            text-align: center;
            padding: .5em 0;
            color: $color-word-light;
        }
    }

    .list_data {
        flex-basis: calc(100% - 100px);
        max-width: calc(100% - 100px);
        padding: 0 40px 0 20px;

        @include screen('mobile') {
            flex-basis: 100%;
            max-width: 100%;
            padding: 0;
        }

        h3 {
            font-size: 1.25em;
            margin-top: 0;

            @include screen('mobile') {
                padding-right: 1.8em;
            }

            a {
                color: darken($primaryColor, 20);
                transition: all .3s;
                line-height: 1.5;

                &:hover {
                    color: $primaryColor;
                }
            }
        }

        ul {
            @include li-reset;
        }

        >ul {
            >li {
                margin-bottom: .5em;
                display: flex;
                @include screen('mobile'){
                   flex-wrap: wrap; 
                }

                a {
                    color: $linkColor;
                    text-decoration: underline;
                }

                .btn_normal {
                    margin: 0 .5em;
                }

                .title {
                    flex: 0 0 auto;
                    font-weight: bold;
                    line-height: 1.5;
                }
            }
        }

        .link {
            font-weight: bold;
        }

        button {
            padding: .2em .5em;
            font-size: .938em;
            min-width: auto;
            position: relative;
            margin-bottom: .5em;
            display: inline-flex;
            align-items: center;
            >img{
                width: auto;
                height: 18px;
                margin-right: .3em;
            }
            &.btn_normal {
                background: #fff;
                border: 1px solid $linkColor;
                color: $linkColor;
            }

            &.btn_primary {
                background: #fff;
                border: 1px solid $primaryColor;
                color: $primaryColor;
            }

        }

        .keyword {
            // white-space: nowrap;
            // overflow: hidden;
            // text-overflow: ellipsis;

            li {
                display: inline-block;

                &:after {
                    content: "、";
                    display: inline-block;
                }

                &:last-child {
                    &:after {
                        content: none;
                    }
                }
            }

            a {
                color: $color-word;
                text-decoration: underline;
                line-height: 1.5;

                &:hover {
                    color: $primaryColor;
                }
            }
        }
    }

    .status {
        display: flex;

        >* {
            margin: 0 .5em 0 0;
        }

        button,
        a {
            background: none;
            color: $linkColor;
            text-decoration: underline;
            border: none;
            position: relative;
            border-radius: 0;
            display: inline-block;
            padding: 0;

            &.popover {
                padding-right: 1em;

                &:after {
                    content: "";
                    position: absolute;
                    display: block;
                    width: 6px;
                    height: 6px;
                    border-width: 2px 0 0 2px;
                    border-color: $linkColor;
                    border-style: solid;
                    top: 5px;
                    right: 2px;
                    transform: rotate(225deg);
                }

                &.turnicon {
                    &:after {
                        transform: rotate(45deg);
                        top: 9px;
                    }
                }
            }

        }

        .tip {
            font-size: .875em;
            color: $color-word-light;
            display: inline-block;
        }

    }

    .popover_content {
        font-size: .875em;
        margin: .5em 0;
    }

}

.erm {
    overflow: hidden;

    .function_panel {
        .result_amount {
            display: none;

            @include screen('mobile') {
                display: flex;
            }
        }

        .display_grp {
            @include screen('mobile') {
                display: none;
            }
        }
    }


    .list_block {
        .list_data {
            flex-basis: 100%;
            max-width: 100%;
            padding-left: 55px;


            @include screen('mobile') {
                padding-left: 0;
            }

        }
    }

    .search_result {
        @include screen('mobile') {
            @include gutter(0);
        }
    }
}

.academic_vocabulary,
.relevant_info {
    background: #fff;
    padding: .5em 1.5em;
    margin-bottom: .5em;

    @include screen('mobile') {
        display: none;
    }
}

.function_block {
    position: absolute;
    top: 1em;
    right: 1.5em;
    display: flex;

    // @media (min-width: 992px) and (max-width: 1200px) {
    //     position: static;
    //     margin-top: 1em;
    // }

    @include screen('xs_mobile') {
        right: 15px;
    }

    .filter_search_btn {
        display: none;

        @include screen('tablet') {
            display: block;
        }
    }

    .add_bookmark,
    .filter_search_btn {
        border: 1px solid $color-input;
        background: none;
        color: $color-word;
        margin: 0 0 0 .5em;
        position: relative;

        // &:before{
        //     position: absolute;
        //     content:"";
        //}
        @include screen('tablet') {
            padding: .4em;
            min-width: 2.5em;
        }

        &:hover,
        &:focus,
        &.active {
            color: $primaryColor;

            .i_bookmark {
                &:before {
                    background-image: url(../images/icon/icon_bookmark_saved.svg);
                }
            }
        }

        i {
            margin: 0;

            &:before {
                height: 1.2em;
                width: 1.2em;
            }
        }

        span {
            @include screen('tablet') {
                display: none;
            }
        }
    }
}

//縮小查詢--縮小年代
.publication_year {
    
    input {
        outline: 0;
    }

    .range_amount {
        display: flex;
        margin-bottom: 1.5em;
        justify-content: center;
        align-items: center;

        span {
            flex-basis: 10%;
            max-width: 10%;
            text-align: center;
            display: block;
            color: $color-word-light;
        }
    }

    .range_slider {
        width: 100%;
        margin: auto;
        text-align: center;
        position: relative;

        input[type=range] {
            position: absolute;
            left: 0;
            bottom: 0;
            border: none;
            background: none;
            padding: 0;
        }
    }

    input[type=number] {
        border: 1px solid #ddd;
        text-align: center;
        color: $color-word-light;
        -moz-appearance: textfield;
        max-width: 45%;
    }

    input[type=number]::-webkit-outer-spin-button,
    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    input[type=number]:invalid,
    input[type=number]:out-of-range {
        border: 2px solid #ff6347;
    }

    input[type=range] {
        -webkit-appearance: none;
        width: 100%;
    }

    input[type=range]:focus {
        outline: none;
    }

    input[type=range]:focus::-webkit-slider-runnable-track {
        background: $primaryColor;
    }

    input[type=range]:focus::-ms-fill-lower {
        background: $primaryColor;
    }

    input[type=range]:focus::-ms-fill-upper {
        background: $primaryColor;
    }

    input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 6px;
        cursor: pointer;
        background: $primaryColor;
        border-radius: 1px;
        box-shadow: none;
        border: 0;
        border-radius: $box;
    }

    input[type=range]::-webkit-slider-thumb {
        z-index: 2;
        position: relative;
        box-shadow: 0px 0px 0px #000;
        border: 1px solid $primaryColor;
        height: 18px;
        width: 18px;
        border-radius: 25px;
        background: #fff;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -7px;
    }

    input[type=range]::-moz-range-track {
        width: 100%;
        height: 6px;
        cursor: pointer;
        animate: 0.2s;
        background: $primaryColor;
        border-radius: 1px;
        box-shadow: none;
        border: 0;
    }

    input[type=range]::-moz-range-thumb {
        z-index: 2;
        position: relative;
        box-shadow: 0px 0px 0px #000;
        border: 1px solid $primaryColor;
        height: 18px;
        width: 18px;
        border-radius: 25px;
        background: #fff;
        cursor: pointer;
    }

    input[type=range]::-ms-track {
        width: 100%;
        height: 6px;
        cursor: pointer;
        animate: 0.2s;
        background: transparent;
        border-color: transparent;
        color: transparent;
    }

    input[type=range]::-ms-fill-lower,
    input[type=range]::-ms-fill-upper {
        background: $primaryColor;
        border-radius: 1px;
        box-shadow: none;
        border: 0;
    }

    input[type=range]::-ms-thumb {
        z-index: 2;
        position: relative;
        box-shadow: 0px 0px 0px #000;
        border: 1px solid $primaryColor;
        height: 18px;
        width: 18px;
        border-radius: 25px;
        background: #a1d0ff;
        cursor: pointer;
    }

}